/******** General Style******/
* {
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --main-color: #0c1027;
  --secondary-color: #141b41;
  --text-color: #c5c3c3;
  --text-color-secondary: #fff;
}
body {
  margin: 0px;
  font-family: "Handlee";

  color: white;
  background-color: #04042e;
}

::-webkit-scrollbar {
  color: #04042e;
}

.ml {
  margin-left: 20px;
}
.mr {
  margin-right: 20px;
}
.mx {
  margin: 0 0.7rem;
}
.my {
  margin: 1rem 0;
}
.mt {
  margin-top: 20px;
}
.mb {
  margin-bottom: 40px;
}
/*nav-container*/
.nav-container {
  position: fixed;
  z-index: 4;
  width: 100%;
  background-color: #04042e;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  height: 14vh;

  margin: 0 auto;
  align-items: center;

  overflow: hidden;
}

nav > div {
  margin: 0 20px; /* adding 20px right and left margin to all the direct child divs of the nav*/
}

.logo-container {
  display: flex;
  align-items: center;
}
.logo-container img {
  width: 160px;
}
.flex-2 {
  /* to make the the particular element larger than the others*/
  flex: 2;
  text-align: center;
}
.flex-2 p {
  color: white;
}
.search-box-container {
  position: relative; /* used pos relative here to have the search and mic icons over the search box*/
}

.search-box-search {
  position: absolute;
  top: 8px;
  left: 5px;
  color: rgb(197, 195, 195);
}

.search-box-text {
  position: absolute;
  top: 6px;
  left: 50px;
  color: rgb(197, 195, 195);
  font-size: 0.95rem;
}

.search-box-mic {
  position: absolute;
  top: 8px;
  right: 5px;
  color: grey;
}

.search-box {
  background-color: #151546;
  border: 0;
  height: 1.8rem;
  width: 300px;
  border-radius: 10px;
}

.logo {
  width: 70px;
  margin-top: 15px;
}

.my-photo img {
  width: 40px;
  border-radius: 50%;
  margin-top: 8px;
}

.notification-bell {
  position: relative;
  transition: 0.2s;
  animation: shake 4s infinite 3s;
}
/************* end of navbar *****************/
/*********container ***************/
.container {
  position: relative;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
}
main {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 70%;
  height: 90vh;
  overflow-y: scroll;
}
aside {
  position: absolute;
  top: 62px;
  right: 50px;
  width: 30%;
  height: 81vh;
  overflow-y: scroll;
}
/******* end of container ******/

/************* header-section  ***************/

.singer-container {
  position: relative;
  display: flex;

  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  background: var(--secondary-color);
  padding-top: 6rem;
}
.singer-img img {
  width: 90%;
  height: 100%;
  margin-top: 0rem;
  min-height: 200px;
}
.singer-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -2rem;
  min-height: 250px;
  margin-left: 15px;
  color: var(--text-color);
}
.singer-description div:nth-child(1) {
  margin-top: 0.5rem;
}
.singer-description div:nth-child(2) {
  margin-top: -1.6rem;
}
.singer-description div:nth-child(3) {
  margin-top: -2rem;
}
.singer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.singer-header div > p {
  margin-top: auto;
}
.singer-follower {
  padding: 2.8rem 4rem 0 0;
}
.play-button a,
p {
  display: inline-block;
}
input[type="button"] {
  height: 2rem;
  width: 7.5rem;
  background: linear-gradient(rgb(170, 93, 241), rgb(80, 16, 230));
  border-style: none;
  color: white;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 4rem;
}

/* .singer-footer{
      display:flex;
      flex-direction: column;
      justify-content: center;

    } */
.play-button p {
  margin-left: 2rem;
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color-secondary);
}
/************ end of header-section **********/
/***************** list of songs  ************/
.main-songs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  min-height: 15vh;
  margin-top: 0.5rem;
}
.song-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 114%;
  background: var(--secondary-color);
  margin: 0.3rem 0;
}
.song-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
}
.song-img img {
  width: 50px;
  height: 50px;
  box-shadow: 0 0px 4px 2px #7e7a7ae8;
  border: 1px solid white;
}
.song-container div:nth-child(1) {
  margin-left: 1.8rem;
  width: 25px;
}
.song-container div:nth-child(2) {
  margin-left: 1rem;
  width: 50px;
}
.song-container div:nth-child(3) {
  width: 200px;
  margin-left: 1.2rem;
}
.song-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.song-title p {
  margin-top: -36px;
  font-size: 16px;
}
.song-title h4 {
  margin-top: 16px;
  font-size: 22px;
}
.song-icon {
  display: flex;
  justify-content: space-between;
  width: 45px;
  margin-right: 2rem;
}
.song-icon span {
  display: inline-block;
}
/************ end of songs list **************/
/************ aside section *****************/
.aside-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 75%;
  margin: 0 auto !important;
}
.similar-artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
}
.artist-header {
  display: flex;
  justify-content: space-between;
}
.similar-song-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  margin: 0.2rem 0;
}

.song-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.2rem;
}

.song-titles span:nth-child(1) {
  font-weight: bold;
  font-size: 16px;
}
.song-image img {
  width: 80px;
  height: 20%;
  box-shadow: 0 0px 4px 2px #7e7a7ae8;
}
.song-duration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
}

.recently-played {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

/************ end of aside section *********/
/*********** to make  page responsive  Here we use Media Queries ***********/
@media only screen and (max-width: 900px) {
  .singer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #aside {
    position: absolute;
    top: 50px;
    right: -10px;
    width: 43%;
    margin-top: 3rem;
  }
  .singer-img img {
    width: 60%;
    margin-left: 5rem;
  }
  .similar-song-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .similar-song-list div {
    margin: 0.2rem;
  }
  nav {
    height: 20vh;
  }
  .singer-container {
    margin-top: 3rem;
  }
}

/****************** end of Media Queries **********************/
/**************** footer section *****************/
.footer {
  background: rgb(51, 47, 47);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
}
.footer-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.footer-left-align {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.footer-left-align img {
  width: 50px;
  min-height: 60px;
  margin-top: 0.5rem;
}
.description {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.description p {
  flex-grow: 1;
  margin: 2px;
  font-size: 0.8rem;
}

.footer-icon {
  display: flex;
  flex-direction: column;
}
.footer-icon i {
  margin: 5px;
}
/* middle-footer */
.footer-middle-align {
  display: flex;

  flex-direction: column;
  justify-content: center;
  width: 400px;
}
.footer-icons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.footer-icons i {
  position: relative;

  display: inline-block;
  font-size: 1.2rem;
}
.footer-slider {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}
.custom-range {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #d3d3d3;
  border-radius: 10rem;
  outline: none;
  opacity: 1;
}
.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: rgb(58, 61, 58);
  cursor: pointer;
}

/* footer-right */
.footer-right-align {
  position: relative;
  top: 0;
  left: -10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.volume-icon {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.navigator-icon {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-top: 0.5rem;
}
.custom-range1 {
  -webkit-appearance: none;
  width: 150%;
  height: 5px;
  background: #d3d3d3;
  border-radius: 10rem;
  outline: none;
  opacity: 1;
}
.custom-range1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: rgb(58, 61, 58);
  cursor: pointer;
}
.navigator-icon i {
  position: relative;
  left: 10px;
  top: 3px;
}
/************** end of footer section ************/
  /* animation effect */
     .logo-container {
  animation: fromRight 0.75s;
}

.my-photo {
  animation: fromLeft 0.75s;
}
@keyframes fromRight {
  from {
    transform: translate(1000px);
  }
}
@keyframes fromLeft {
  from {
    transform: translate(-1000px);
  }
}
/* aside    */
@keyframes enlarge {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.enlarge {
  animation: enlarge .5s;
}

#aside {
  animation: fromBottom .3s;
}

@keyframes fromBottom {
  from {
    transform: translateY(2000px);
  }
}
.fromtop{
  animation: fromTop1 0.8s;
}
.fromright {
  animation: fromRight 0.75s;
}
.fromleft {
  animation: fromLeft 0.75s;
}
@keyframes fromTop1 {
  from {
    transform: translateY(-1000px);
  }
}









  /* end of animation effect */